<p id="notice"><%= notice %></p>

<h1>درآمدها</h1>

<table>
  <thead>
    <tr>
      <th>عنوان</th>
      <th>مبلغ</th>
      <th>توضیحات</th>
      <th> تاریخ </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.title %></td>
        <td><%= income.amount %></td>
        <td><%= income.description %></td>
        <td><%= JalaliDate.new(Date.parse(income.created_at.to_s)) %></td>
        <td><%= link_to 'نمایش', income %></td>
        <td><%= link_to 'ویرایش', edit_income_path(income) %></td>
        <td><%= link_to 'حذف', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'درآمد جدید', new_income_path %>
<% if user_signed_in? %>
    <ul>
     <li><%= link_to 'حساب کاربری', edit_user_registration_path %></li>
     <li><%= link_to 'خروج', destroy_user_session_path, :method => :delete %></li>
    </ul>
   <% else %>
    <ul>
     <li><%= link_to 'ایجاد حساب کاربری', new_user_registration_path%></li>
     <li><%= link_to 'ورود', new_user_session_path %></li>
    </ul>
   <% end %>