<p id="notice"><%= notice %></p>

<p>
  <strong>عنوان: </strong>
  <%= @income.title %>
</p>

<p>
  <strong>مبلغ: </strong>
  <%= @income.amount %>
</p>

<p>
  <strong>توضیحات: </strong>
  <%= @income.description %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
