<p id="notice"><%= notice %></p>

<p>
  <strong>عنوان: </strong>
  <%= @income.title %>
</p>

<p>
  <strong>مبلغ: </strong>
  <%= @income.amount %>
</p>

<p>
  <strong>توضیحات: </strong>
  <%= @income.description %>
</p>
<p>
  <strong> تاریخ: </strong>
  <%= JalaliDate.new(Date.parse(@income.created_at.to_s)) %>
</p>

<%= link_to 'ویرایش', edit_income_path(@income) %> |
<%= link_to 'بازگشت', incomes_path %>
