<p id="notice"><%= notice %></p>

<h1>مخارج</h1>

<table>
  <thead>
    <tr>
      <th>عنوان</th>
      <th>مبلغ</th>
      <th>توضیحات</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.title %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <td><%= link_to 'نمایش', expense %></td>
        <td><%= link_to 'ویرایش', edit_expense_path(expense) %></td>
        <td><%= link_to 'حذف', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'خرج جدید', new_expense_path %>
<% if user_signed_in? %>
    <ul>
     <li><%= link_to 'حساب کاربری', edit_user_registration_path %></li>
     <li><%= link_to 'خروج', destroy_user_session_path, :method => :delete %></li>
    </ul>
   <% else %>
    <ul>
     <li><%= link_to 'ایجاد حساب کاربری', new_user_registration_path%></li>
     <li><%= link_to 'ورود', new_user_session_path %></li>
    </ul>
   <% end %>
