<p id="notice"><%= notice %></p>

<p>
  <strong>عنوان: </strong>
  <%= @expense.title %>
</p>

<p>
  <strong>مبلغ: </strong>
  <%= @expense.amount %>
</p>

<p>
  <strong>توضیحات: </strong>
  <%= @expense.description %>
</p>

<%= link_to 'ویرایش', edit_expense_path(@expense) %> |
<%= link_to 'بازگشت', expenses_path %>
