<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>سامانه مدیریت دخل و خرج</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://api.azadqalam.ir/fonts?font=Tanha" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
